p {
    font-size: 2em;
}

.checkbox-td {
    width: 50px;
}

.inputGroupDiv {
    font-size: 14px;
}

.inputGroupButton {
    width: 28px !important;
    height: 34px !important;
}

.manageUserDetailView {
    margin-top: -6px;
    padding-left: 0px;
    padding-right: 0px;
}

.btnColor {
    padding: 2px 2px;
    color: #bf9000;
    padding-top: 3px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.btnTransparent {
    padding: 8px 15px;
    color: grey;
    padding-top: 3px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.btnComplete {
    padding: 2px 2px;
    padding-top: 3px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.ui-menu .ui-menuitem-text {
    float: left;
    padding-left: 22px !important;
}

.ui-menu .ui-menuitem-link .ui-menuitem-icon {
    color: grey;
}

.filters .ui-menu {
    width: 20em !important;
    padding: 0.5em;
    background: white;
}

.filters .ui-menu.ui-menu-dynamic {
    position: absolute;
    display: none;
    z-index: 100000;
    box-shadow: 0px 0px 0px 4px rgba(184, 184, 184, 1);
    border-color: #999999;
    margin-top: 6px;
}

.filters .ui-menu .ui-menuitem-link {
    width: 95%;
    padding: .2em !important;
}

.categories .ui-menu {
    padding: 0.5em;
    background: white;
    border-radius: 2px !important;
}

.categories .ui-menu.ui-menu-dynamic {
    position: absolute;
    display: none;
    z-index: 100000;
    border-color: #999999;
    margin-top: 6px;
}

.categories .ui-menu .ui-menuitem-link {
    width: 95%;
    padding: .2em !important;
}

.categories .ui-menu .ui-menuitem-text {
    float: left;
    padding-left: 2px !important;
}

.actions .ui-menu {
    width: 17.5em !important;
    padding: 0.5em;
    background: white;
}

a.ui-state-hover {
    background-color: #ffffff !important;
    color: #222222 !important;
}

.categories .ui-menu.ui-widget li>.ui-menuitem-link.ui-state-hover {
    background-color: #ffffff !important;
    color: #222222 !important;
    background-image: #fff;
}

.actions .ui-menu.ui-menu-dynamic {
    z-index: 100000;
    box-shadow: 0px 0px 0px 4px rgba(184, 184, 184, 1);
    border-color: #999999;
    margin-top: 6px;
    margin-left: -213px !important;
    top: 30.0938px !important;
    position: absolute !important;
    right: 0% !important;
    margin-right: 65px !important;
}

.ui-menu .ui-menuitem-link {
    width: 95%;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    -moz-border-radius-topleft: 0px !important;
    -webkit-border-top-left-radius: 0px !important;
    -khtml-border-top-left-radius: 3px;
    border-top-left-radius: 0px !important;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    -moz-border-radius-topright: 0px !important;
    -webkit-border-top-right-radius: 0px !important;
    ;
    -khtml-border-top-right-radius: 3px;
    border-top-right-radius: 0px !important;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    -moz-border-radius-bottomleft: 0px !important;
    -webkit-border-bottom-left-radius: 0px !important;
    -khtml-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 0px !important;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    -moz-border-radius-bottomright: 0px !important;
    -webkit-border-bottom-right-radius: 0px !important;
    -khtml-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 0px !important;
}

.hrTest {
    display: block;
    height: 1px !important;
    border: 0 !important;
    border-top: 1px solid #ccc !important;
    margin: 1em 0 !important;
    padding: 0 !important;
}

context-menu.actions ul.ui-menu-list li:nth-child(3) {
    border-bottom: 1px solid #ccc !important;
    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
}

context-menu.actions ul.ui-menu-list li:nth-child(5) {
    border-bottom: 1px solid #ccc !important;
    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
}

.Data-Management-icon {
    background: url("/adminconsolecomponent/public/images/DataManagement.png") no-repeat;
    height: 21px;
    width: 21px;
    border: 0px;
    background-size: contain;
}

.Drilling-icon {
    background: url("/adminconsolecomponent/public/images/DrillingIcon.png") no-repeat;
    height: 21px;
    width: 21px;
    border: 0px;
    background-size: contain;
}

.Geoscience-icon {
    background: url("/adminconsolecomponent/public/images/GeoSciencesIcon.png") no-repeat;
    height: 21px;
    width: 21px;
    border: 0px;
    background-size: contain;
}

.Production-Economics-icon {
    background: url("/adminconsolecomponent/public/images/images/ProductionIcon.png") no-repeat;
    height: 21px;
    width: 21px;
    border: 0px;
    background-size: contain;
}

.Workflows-icon {
    background: url("/adminconsolecomponent/public/images/WorkFlowIcon.png") no-repeat;
    height: 21px;
    width: 21px;
    border: 0px;
    background-size: contain;
}

.Administration-icon {
    background: url("/adminconsolecomponent/public/images/AdministrationIcon.png") no-repeat;
    height: 21px;
    width: 21px;
    border: 0px;
    background-size: contain;
}

.Favorites-icon {
    background: url("/adminconsolecomponent/public/images/FavoriteIcon.png") no-repeat;
    height: 21px;
    width: 21px;
    border: 0px;
    background-size: contain;
}

.Permedia-Workshop-icon {
    background: url("/adminconsolecomponent/public/images/collaborate_24.png") no-repeat;
    height: 21px;
    width: 21px;
    border: 0px;
    background-size: contain;
}

.PILM-Workshop-icon {
    background: url("/adminconsolecomponent/public/images/collaborate_24.png") no-repeat;
    height: 21px;
    width: 21px;
    border: 0px;
    background-size: contain;
}

.DSG10ep-Workshop-icon {
    background: url("/adminconsolecomponent/public/images/collaborate_24.png") no-repeat;
    height: 21px;
    width: 21px;
    border: 0px;
    background-size: contain;
}

.Production-Workshop-icon {
    background: url("/adminconsolecomponent/public/images/collaborate_24.png") no-repeat;
    height: 21px;
    width: 21px;
    border: 0px;
    background-size: contain;
}


/*theme changes*/

.ui-widget-content a {
    color: #222222;
}

.ui-menu,
.ui-menu .ui-menu-child {
    border: 1px solid #d9d9d9;
    color: #1b1d1f;
    background: #f6f7f9 0 0 repeat-x;
    background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -khtml-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -khtml-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    -khtml-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    -khtml-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}

.ui-widget {
    font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-size: 1em;
}

context-menu.actions ul.ui-menu-list li:nth-child(6) {
    pointer-events: none;
    opacity: 0.6;
}

.menuHeading {
    color: #333;
    font-size: 14px;
    font-weight: normal;
    padding-left: 8px;
    font-family: sans-serif;
}

.menuArrow {
    font-size: 8px;
    color: black;
    padding-left: 5px;
}

.iconMargin {
    margin-left: 3px !important;
}

.domainActions .ui-menu {
    width: 14.5em !important;
    padding: 0.5em;
    background: white;
}

.domainActions .ui-menu.ui-menu-dynamic {
    position: absolute;
    display: none;
    z-index: 100000;
    box-shadow: 0px 0px 0px 4px rgba(184, 184, 184, 1);
    border-color: #999999;
    margin-top: 32px !important;
    margin-left: -8px !important;
}

.userActions .ui-menu {
    width: 15.5em !important;
    padding: 0.5em;
    background: white;
}

.userActions .ui-menu.ui-menu-dynamic {
    z-index: 100000;
    top: 25.6875px !important;
    box-shadow: 0px 0px 0px 4px rgba(184, 184, 184, 1);
}

.form-area {
    padding: 10px !important;
}

.dialog-div {
    margin: 25px 0px 30px 0px;
}