<table class= "table-container" *ngIf="(data$ | async)" border="1">
	<tr><td>message</td><td>{{(data$ | async)?.message}}</td></tr>
	<tr><td>statusCode</td><td>{{(data$ | async)?.statusCode}}</td></tr>
	<tr><td>text</td><td>{{(data$ | async)?.text}}</td></tr>
</table>
<div *ngIf="showBroadcastMessage"  class="menu-click-message">You clicked on left menu navigation button</div>