@import 'variables';
@import "../../../node_modules/@webframework/client-theme/theme/main";
@import '../../../node_modules/font-awesome/scss/font-awesome';

.wfc-flex-full {
    display: flex;
    flex: 1;
}


/* You can add global styles to this file, and also import other style files */

.nav-tabs {
    background: white !important;
}

.context-panel {
    background: white;
    padding-top: 10px;
}

.wrapper-parent {
    background: white !important;
}

.content-padding {
    background: white !important;
}

.btn-default {
    background-color: white !important;
}

.container-fluid {
    background: white !important;
}

.nav-admin-li {
    color: grey;
}